@import "./variables.scss";

.contact-page {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .info {
    background-color: $primary;
    width: 30vw;
    height: 700px;
    margin-right: 6em;
    padding-left: 46px;
  }
  .info > * {
    color: $secondary;
  }
  .calendly {
    min-width: 400px;
    height: 700px;
  }
  .socials > * {
    // display: flex;
    color: $secondary;
    margin-right: 1em;
  }
}

@media screen and (max-width: 480px) {
  .form {
    min-width: 66vw;
    display: grid;
    .top-fields {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}
