@import "./variables.scss";

.founder-page {
  .top {
    text-align: center;
    .founder {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .roles {
      display: flex;
      max-width: 80vw;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      .role {
        width: 33%;
        p {
          font-size: 28px;
          font-family: $thinitalic;
        }
      }
    }
    .me {
      display: flex;
      justify-content: space-between;
      margin-left: 6em;
      margin-right: 6em;
      margin-top: 6em;
      margin-bottom: 10em;
      .veronica {
        text-align: left;
        width: 40vw;
      }
      div {
        .avatar {
          max-width: 16em;
        }
      }
    }
  }
  .line {
    margin: 36px auto 36px auto;
    width: 70vw;
    height: 2px;
    background-color: #dddddd;
  }
  .content {
    max-width: 74vw;
    margin: 8em auto 8em auto;
    .heading {
      margin-top: 3em;
      text-align: center;
      font-size: 36px;
      max-width: 56vw;
      margin-left: auto;
      margin-right: auto;
    }
    .subheading {
      font-family: $h1;
      margin-top: 2em;
      margin-bottom: 0.6em;
    }
    iframe {
      margin-top: 2em;
    }
  }
}
