@import "./variables.scss";

.home {
  padding-top: 34px;
  .home-logo {
    margin: 0 auto;
    width: 322px;
    text-align: center;
    display: block;
  }
  .slogan {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin-top: 1em;
    font-family: $light;
  }
  .topbox {
    margin: 86px auto 48px auto;
    background-color: $secondary;
    width: 890px;
    height: 196px;
    padding: 0 150px;
    display: flex;
    align-items: center;
    z-index: 1;

    position: sticky;
    p {
      font-size: 24px;
      text-align: center;
      font-family: $light;
      line-height: 30px;
    }
  }
  .mid-section {
    margin-top: -6em;
    z-index: 0;
    background-color: $primary;
    padding-top: 124px;
    padding-bottom: 138px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    .content {
      max-width: 740px;
      margin: 0 auto;
      .h2 {
        text-align: center;
      }
      .short {
        margin: 0 auto;
        text-align: left;
        line-height: 46px;
      }
      .readmore {
        margin-top: 1.2em;
        text-decoration: underline;
      }
    }
    .quote {
      width: 100vw;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.18);
      padding: 12px;
      color: $primary;
      margin-top: 3em;
      text-align: center;
      p {
        font-size: 20px;
        color: $white;
      }
    }
    .line {
      margin: 68px auto 68px auto;
      width: 840px;
      height: 2px;
      background-color: $lightwhite;
    }
  }
  .principles-section {
    margin-top: 2em;
    max-width: 1000px;
    margin-left: 12vw;
    margin-right: 10vw;
    // text-align: center;
    .header {
      font-size: 46px;
      span {
        font-family: $h1;
      }
    }
    .line {
      margin: 36px 0vw 36px 0;
      width: 69vw;
      height: 2px;
      background-color: #000000;
    }
    .content {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
      .content-border {
        border-radius: 3px;
        padding: 6px 6px;
        border: 1px solid $primary;
      }
      div {
        max-width: 30%;
        text-align: center;
        p {
          font-size: 20px;
          line-height: 32px;
          margin-bottom: 32px;
        }
      }
      .h2 {
        font-family: $regular;
        font-size: 42px;
      }
    }
  }
  .services-section {
    margin: 3em auto 0 auto;
    .top-bg {
      background-color: $primary;
      clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
      padding-bottom: 0em;
      padding-top: 2em;
      position: relative;
      z-index: -3;
      .content {
        max-width: 1060px;
        margin: 0 auto;
        padding-top: 8em;
        padding-bottom: 64px;
      }
    }
    .content {
      max-width: 1060px;
      margin: -9em auto 0 auto;
      padding-bottom: 64px;
      .quotecontainer {
        background-color: #0b0b0b;
        padding: 6px 24px;
        border-radius: 6px;
        .quote {
          font-size: 20px;
          line-height: 8px;
        }
      }
      h3 {
        margin-top: 2em;
      }
      h2 {
        text-align: center;
        margin-bottom: 2em;
      }
      .price-section {
        display: flex;
        justify-content: space-between;
        margin: 36px auto 0 auto;
        text-align: center;
        .price-box {
          width: 280px;
          min-height: 513px;
          background-color: $white;
          border-radius: 2px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          // &:hover {
          // }
          .header {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-color: $white;
            padding: 1.2em 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
              width: 40px;
            }
            p {
              font-family: $h1;
            }
            .top-line {
              font-family: $regular;
              font-size: 16px;
            }
          }
          .price-content {
            .details {
              font-size: 14px;
              font-family: $light;
              color: $primary;
              line-height: 24px;
              text-align: left;
              margin-bottom: 2em;
              padding: 0em 1em 0 1em;
            }
            .items {
              margin-bottom: 16px;
              .list-item {
                border-top: 1px solid #e5e5e5;
                font-size: 14px;
                font-family: $light;
                line-height: 18px;
                padding-top: 16px;
              }
            }
          }
          .content {
            padding: 16px;
            .details {
              font-size: 18px;
              text-align: left;
              line-height: 26px;
            }
            ul {
              padding-left: 16px;
              li {
                color: $lightwhite;
                text-align: left;
                padding-top: 16px;
                font-family: $light;
                line-height: 22px;
                font-size: 18px;
              }
            }
          }
        }
      }
      .bestfit-text {
        max-width: 800px;
        font-size: 20px;
        line-height: 32px;
        margin: 32px auto 0 auto;
        text-align: center;
      }
      button {
        margin-top: 16px;
      }
      .npo {
        margin-top: 82px;
      }
    }
  }
  .partners-section {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 64px;
    h3 {
      text-align: center;
      margin-bottom: 46px;
    }
    .content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 2em;
      margin-bottom: 4em;
      .partner {
        width: 300px;
        min-height: 100px;
      }
      .commbg {
        background-color: $primary;
        padding: 0.4em 1em;
        border-radius: 8px;
        h3 {
          font-family: $h1;
          font-size: 26px;
          margin: auto;
          padding-top: 1em;
          padding-bottom: 1em;
        }
      }
    }
  }
}

.icon {
  color: $secondary;
}

// @media screen and (max-width: 480px) {
//   .home {
//   }
// }

@media screen and (max-width: 480px) {
  .home {
    .slogan {
      max-width: 86vw;
      margin: 16px auto 0 auto;
      font-size: 16px;
    }

    .home-logo {
      width: 180px;
    }
    .sidebar {
      display: none;
    }
    .topbox {
      width: 100vw;
      padding: 16px 4vw;
      height: auto;
      margin-top: 24px;
      margin-bottom: 0px;
      p {
        font-size: 16px;
      }
    }
    .mid-section {
      padding: 5em 1em 0em 1em;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
      .content {
        padding-top: 3em;
      }
      .line {
        width: 80vw;
      }
    }
    .services-section {
      padding: 0 1em;
      .top-bg {
        padding-bottom: 3em;
        padding-top: 0em;
        .content {
          padding-top: 2em;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .content {
        margin: -6em auto 0 auto;
        .price-section {
          flex-direction: column;
          .price-box {
            width: 90vw;
            min-height: 24em;
            height: auto;
            margin-bottom: 1.4em;
          }
        }
        .bestfit-text {
          font-size: 16px;
        }
      }
    }
    .partners-section {
      .content {
        margin-top: 0;
        flex-direction: column;
        .partner {
          margin-top: 1.2em;
        }
        .commbg {
          margin-top: 1em;
          max-width: 90vw;
        }
      }
      h3 {
        margin-bottom: 24px;
      }
    }
    .principles-section {
      .header {
        line-height: 46px;
        font-size: 32px;
      }
    }
  }
}
