@import "./variables.scss";

.h1 {
  font-family: $h1;
}

.landing-layout {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  // height: calc( 100vh - 10em );
  margin-top: 5em;
  margin-bottom: 4em;
  // HOME PAGE SPECIFIC
  .lightning-logo {
    margin-top: 2.6em;
    max-width: 10em;
  }
  .tm-logo {
    max-width: 30em;
  }
  .slogan {
    margin-top: 0em;
    font-size: 1.6em;
    letter-spacing: 2px;
    font-family: $textfont;
    color: $primary;
  }
  .down-arrow {
    // position: absolute;
    margin-top: 4em;
    margin-bottom: 2em;
    // bottom: 8%;
    font-size: 3.2em;
    transition: 0.3s;
    // color: $bg;
    // &:hover {
    //     // color: $primary;
    // }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.sidebar {
  top: 19%;
  right: 0;

  width: 39px;
  height: 159px;
  position: fixed;
  z-index: 1;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  a {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .landing-layout {
    .tm-logo {
      max-width: 18em;
    }
    .lightning-logo {
      margin-top: 2em;
      max-width: 5em;
    }
    .slogan {
      font-size: 1.2em;
      margin-bottom: 1.6em;
    }
  }
}
