// colors & fonts

$primary: #0f0f0f;
$secondary: #f1f1f1;
$lightwhite: #fafafa;
$white: #ffffff;

@font-face {
  font-family: "AvenirNext-Bold";
  src: url("../assets/fonts/AvenirNext/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "title";
  src: url("../assets/fonts/AvenirNext/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "AvenirNext-Regular";
  src: url("../assets/fonts/AvenirNext/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "ThinItalic";
  src: url("../assets/fonts/Roboto/Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: "light";
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "h1";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "black";
  src: url("../assets/fonts/Roboto/Roboto-Black.ttf");
}

$textfont: "AvenirNext-Regular", serif;
$light: "light", serif;
$h1: "h1", serif;
$bold: "black", serif;
$titlefont: "title", serif;
$regular: "regular", serif;
$thinitalic: "ThinItalic", serif;
