// colors & fonts

$primary: #0f0f0f;
$secondary: #f1f1f1;
$lightwhite: #fafafa;
$white: #ffffff;

@font-face {
  font-family: "AvenirNext-Regular";
  src: url("../assets/fonts/Red_Hat_Text/RedHatText-Regular.ttf");
}

@font-face {
  font-family: "ThinItalic";
  src: url("../assets/fonts/Red_Hat_Text/RedHatText-Italic.ttf");
}

@font-face {
  font-family: "light";
  src: url("../assets/fonts/Red_Hat_Text/RedHatText-Regular.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../assets/fonts/Red_Hat_Text/RedHatText-Medium.ttf");
}

@font-face {
  font-family: "h1";
  src: url("../assets/fonts/Red_Hat_Text/RedHatText-Bold.ttf");
}

@font-face {
  font-family: "black";
  src: url("../assets/fonts/Red_Hat_Text/RedHatText-Bold.ttf");
}

$textfont: "AvenirNext-Regular", serif;
$light: "light", serif;
$h1: "h1", serif;
$bold: "black", serif;
$titlefont: "h1", serif;
$regular: "regular", serif;
$thinitalic: "ThinItalic", serif;
